<h2>Edit Product</h2>
<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.input :title%>
  </div>

  <div class="group">
    <%= f.input :description%>
  </div>

  <div class="tgroup">
    <%= f.input :quantity%>
  </div>

  <div class="group">
    <%= f.input :price%>
  </div>

  <div>
    <%= f.submit "Subnit", data: { disable_with: "Submitting..."}%>
  </div>




<% end %>
